{% extends 'default-dashboard/_layouts' %}
{% import '_includes/forms' as forms %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Default Dashboard' | t('default-dashboard'), url: url('default-dashboard/settings') },
    { label: 'Settings' | t('app'), url: url('default-dashboard/settings') }
] %}

{% set selectedTab = 'settings' %}
{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="default-dashboard">

{% set options = [] %}
{% set userIds = [] %}

{% for user in craft.users.all() %}
    {% set label = user.username %}

    {% if user.fullName() %}
        {% set label = user.fullName() ~ ' (' ~ user.email ~ ')' %}
    {% endif %}

    {% set options = options | merge([{ label: label, value: user.id }]) %}
    {% set userIds = userIds | merge([user.id]) %}
{% endfor %}

{% if missingUserDashboard %}
    {% set options = [{
        label: 'Deleted user (ID {id})' | t('default-dashboard', { id: settings.userDashboard }),
        value: settings.userDashboard,
    }] | merge(options) %}
{% endif %}

{% set userDashboardByGroup = settings.getUserDashboardByGroup() %}
{% set userGroups = craft.app.userGroups.getAllGroups() %}
{% set groupDashboardOptions = [{
    label: 'Use global default' | t('default-dashboard'),
    value: '',
}] | merge(options) %}

{% namespace 'settings' %}

{{ forms.selectField({
    first: true,
    label: 'Default User Dashboard' | t('default-dashboard'),
    instructions: 'Select a user to use as the default dashboard, mirrored to all other users.' | t('default-dashboard'),
    id: 'userDashboard',
    name: 'userDashboard',
    options: options,
    value: settings.userDashboard,
    errors: settings.getErrors('userDashboard'),
}) }}

{% if missingUserDashboard %}
    <p class="warning with-icon">{{ 'The configured default dashboard user no longer exists. Select another user to resume dashboard syncing.' | t('default-dashboard') }}</p>
{% endif %}

<hr>

<h2>{{ 'User Group Dashboards' | t('default-dashboard') }}</h2>

<p>{{ 'Optionally choose a different source dashboard for each user group. Users in multiple groups use the first matching group shown below.' | t('default-dashboard') }}</p>

{% for group in userGroups %}
    {% set selectedUserId = userDashboardByGroup[group.handle] ?? '' %}
    {% set fieldOptions = groupDashboardOptions %}

    {% if selectedUserId and selectedUserId not in userIds %}
        {% set fieldOptions = [{
            label: 'Use global default' | t('default-dashboard'),
            value: '',
        }, {
            label: 'Deleted user (ID {id})' | t('default-dashboard', { id: selectedUserId }),
            value: selectedUserId,
        }] | merge(options) %}
    {% endif %}

    {{ forms.selectField({
        label: group.name,
        instructions: 'Select a user to use as the default dashboard for this group.' | t('default-dashboard'),
        id: 'userDashboardByGroup-' ~ group.handle,
        name: 'userDashboardByGroup[' ~ group.handle ~ ']',
        options: fieldOptions,
        value: selectedUserId,
        errors: settings.getErrors('userDashboardByGroup'),
    }) }}
{% else %}
    <p class="zilch">{{ 'No user groups exist yet.' | t('default-dashboard') }}</p>
{% endfor %}

{{ forms.lightswitchField({
    label: 'Override User Dashboard' | t('default-dashboard'),
    instructions: 'Whether to force the default dashboard, overwriting any user-specific ones. This will occur on each login.' | t('default-dashboard'),
    id: 'override',
    name: 'override',
    on: settings.override,
}) }}

{{ forms.lightswitchField({
    label: 'Exclude Admin User' | t('default-dashboard'),
    instructions: 'Whether to exclude the admin user when force overwrite is enabled. This will occur on each login.' | t('default-dashboard'),
    id: 'excludeAdmin',
    name: 'excludeAdmin',
    on: settings.excludeAdmin,
}) }}
    
{% endnamespace %}

{% endblock %}